/* ボディ */

.wrapper{
  display: flex;
 }

/* サイドバー */

 .side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
 }

 .side-bar_top{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
 }

 .user-page a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
 }

 .new-chat a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  text-decoration: none;
  border: solid 1px lightblue;
 }

 .side-bar_bottom{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
 }

.chat-rooms{
  padding: 20px 0 40px ;
}

.chat-room a{
  text-decoration: none;
  color: white;
}

/* チャット */

 .chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
 }

 .chat-header {
  height: 100px;
  padding: 0 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}